@font-face {
    font-family: "GothamBold";
    src: url("font/Gotham-Bold.otf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("font/GothamMedium_1.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(33, 31, 31);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-family: "GothamBold";
}

.medium {
    font-family: "GothamBold";
}

button {
    border: none;
    outline: none;
}

/* Game - Waiting screen */
.waitingScreenContainer {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 4;
}

.waitingScreen-containerTitle {
    width: 100%;
    height: 11vh;
    margin-top: 6.5vh;
    color: white;
    font-size: 7vh;
}   

.waitingScreen-areaTitle {
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 255, 255, 0.491);
    padding: 3px 7px 3px 7px;
    border-radius: 11px;
}

.waitingScreen-containerButtonStart {
    position: absolute;
    top: 35%;
    width: 100%;
    height: auto;
}

.waitingScreen-buttonStart {
    cursor: pointer;
    background-color: rgba(255, 221, 0, 0.603);
    padding: 3px 7px 3px 7px;
    border-radius: 11px;
    font-size: 5vh;
    color: white;
}

.waitingScreen-buttonStart:active {
    background-color: rgba(255, 221, 0, 0.756);
}

/* Round */
.roundContainer {
    display: none;
    position: absolute;
    top: 40%;
    width: 100%;
    height: 10vh;
    color: rgb(255, 255, 255);
    font-size: 4.5vh;
    background-color: rgba(0, 0, 0, 0.571);
    z-index: 5;
}

/* Container */
.container {
    z-index: 3;
}

.header {
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: rgb(57, 57, 57);
}

.areagame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vh;
    height: 60vh;
    gap: 1vh;
}

/* Header */
.header-leaderboard {
    width: 10%;
    height: 100%;
    font-size: 4vh;
    color: white;
}

.header-timer {
    width: 80%;
    height: 100%;
    font-size: 8vh;
    color: white;
}

.header-score {
    width: 10%;
    height: 100%;
    font-size: 4vh;
    color: white;
}

/* Button Game */
.currentColorContainer {
    width: 100%;
    height: fit-content;
}

.currentColor {
    width: 12vh;
    height: 12vh;
    background-color: rgba(255, 255, 255, 0.628);
    margin: 4vh 0 4vh 0;
}

.buttonColorGame {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.lightbluecolor {
    background-color: rgb(88, 88, 255);
}

.yellowcolor {
    background-color: yellow;
}

.pinkcolor {
    background-color: rgb(255, 0, 221);
}

.darkbluecolor {
    background-color: rgb(0, 0, 202);
}

.orangecolor {
    background-color: rgb(255, 183, 0);
}

.greencolor {
    background-color: rgb(26, 255, 0);
}